@media only screen and (max-width: 996px) {    
    /* for moblie: */
    .header .header-top{
        background-color: #4682B4;
        max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto; 
    }
    div.header-right{
        justify-content: space-around;
    }
    a.header-item{
        margin: 0px;
    }
    div.navbar{
        padding-left: 5%;
        padding-right: 5%;
    }
    div.header-bottom{
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-bottom > .container .bottom{
        display: none !important;
    }
    /* Header */
    
    /* end */
    /* navbar */
    .navbar-middle-right > a,.navbar-middle-right .nitification,.navbar-middle-right .account{
        display: none;
    }
    .navbar-middle-right .cart{
        width: 100%;
    }
    .navbar-middle-right{
       width: 20%;
    }
    .navbar-middle-left{
        width: 80% !important;
    }
    /* end */
    /*header bottom*/
    .header-bottom > .container .bottom{
        display: none;
    }
    div.header-bottom > .container{
        display: flex;
        height: 40px;
        max-width: 100%;
        justify-content: space-between;
    }
    .header-bottom > .container > .menu{
        width: 30%;
    }

    .header-bottom > .container > .menu .dropdown{
        opacity: 0;
        width: 215px;
        display: grid;
        visibility: hidden;
        position: absolute;
        background-color: white;
        top: 15%;
        margin-top: 10px;
        left: 5%;
        cursor: auto;
        z-index: 999;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-size: 13px;
        line-height: 38px;
        padding: 15px 12px;
    }
    .header-bottom > .container > .menu .dropdown a{
        color: black;
    }
    .header-bottom > .container > .menu .dropdown a:hover{
        color: #4682B4;
    }
    .header-bottom > .container > .menu:hover .dropdown{
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
    .header-bottom > .container > .location{
        width: 30%;
    }
    .header-bottom > .container > .product{
        width: 30%;
        display: flex;
    }
    .product-content{
        display: none;
    }
    .product-content::after{
        left: 72%;
    }
    /*end*/
    /*main*/
    .main{
        margin-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .main > .main-navigation{
        display: none;
    }
    /*banners-left*/
    .main .banners .banners-left{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .main .banners .banners-left .banners-left-top{
        height: 430px;
    }

    .main .banners .banners-left .banner-left-bottom{
        display: none;
    }
    /*end*/
    /*banners-right*/
    .main .banners .banners-right{
        display: none;
    }
    /*end*/
    /*containers*/
    .containers-img{
        width: 100%;
    }
    .containers-img img{
        width: 100%;
        padding-top: 10px;
    }
    div.containers{
        padding-left: 5%;
        padding-right: 5%;
    }
    div.containers .primary-banner-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 0px;
    }
    div.containers .primary-banner-container a img{
        width: 100%;
    }
    /*end*/
    /*home-deal*/
    div.containers .home-deal{
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: #F4F4F4;
        border-radius: 4px;
    }
    div.containers .home-deal .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    div.containers .home-deal .header a{
        font-size: 12px;
    }
    div.containers .home-deal .body{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
    }
    div.containers .home-deal .body .item-wrapper{
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 49%;
        flex-direction: column;
        align-items: center;
        padding: 13px;
        background-color: white;
    }
    div.containers .home-deal .body .item-wrapper .price .percent-deal{
        top: 12px;
        left: 70px;
    }
    .mySlides img{
        width: 100%;
        margin: auto;
        height: 100%;
    }
    /*end*/
    /*footer*/
    .footer .newsletter{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        padding-top: 32px;
        padding-right: 5%;
        padding-left: 5%;
        margin-right: auto;
        margin-left: auto;
    }
    .footer .newsletter .newsletter-icon{
        width: 16%;
        margin-top: -35px;
        margin-right: 0px;
    }
    .footer .newsletter .newsletter-icon img{
        width: 100%;
    }
    .footer .newsletter .newsletter-description{
        margin-right: 0px;

    }
    .footer .newsletter .newsletter-description h3{
        font-size: 13px;
        margin: 0px;
    }
    .footer .newsletter .newsletter-description h5{
        font-size: 10px;
        margin: 5px 0 0 0;
    }
    .footer .newsletter .newsletter-form{
        display: flex;
        width: 40%;
        justify-content: space-around;
        margin-right: 0px;
        font-size: 11px;
    }
    .footer .newsletter .newsletter-form input{
        width: 65%;
        height: 34px;
        font-size: 11px;
    }
    .footer .newsletter .newsletter-form button{
        width: 30%;
        font-size: 11px;
    }
    .footer .information{
        padding-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer .information .block{
        width: 20%;
    }
    .footer .information .block .hotline{
        font-size: 11px;
    }
    .footer .information .block h4{
        font-size: 11px;
    }
    .footer .information .block .icon{
        margin-right: 0px;
    }
    .footer .information .block .small-text{
        font-size: 11px;
    }
    .footer .information .block .security{
        font-size: 11px;
    }
    .footer .information .block p a{
        font-size: 11px;
    }
    .footer .addresses{
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer .copy-right{
        padding-left: 5%;
        padding-right: 5%;
    }
    /*end*/
}

@media only screen and (min-width:997px) and (max-width:1781px){
    /*header*/
    div.navbar{
        padding-left: 3%;
        padding-right: 3%;
    }
    div.header-bottom{
        padding-left: 5%;
        padding-right: 5%;
    }
    .header .header-bottom .container .product{
        width: 12%;
    }
    .header .header-bottom .container .bottom {
        flex: none;
        width: 50% !important;
        justify-content: space-around;
    }
    .product-content{
        width: 70vh;
        left: -240px !important;
    }
    .product-content::after{
        left: 37.5%;
    }
    .header .header-bottom .container .bottom .bottom-link .tikicon.icon-exclusive{
        background-size: 445px 382px;
    }
    .header .header-bottom .container .bottom .bottom-link .tikicon.icon-return{
        background-size: 413px 384px;
    }
    .header .header-bottom .container .bottom .bottom-link .tikicon.icon-tikinow{
        width: 61px !important;
    }
    .header .header-bottom .container .bottom .bottom-link :nth-child(2){
        /* visibility: hidden;
        opacity: 0; */
        display: none;
    }
    
    .header .header-bottom .container .menu .menu-button .button .tikicon.icon-burger-menu{
        transform: scale(0.8);
    }
    .header .header-bottom .container .menu .menu-button .button span:nth-child(2){
        font-size: 12px;
    }
    /*end*/
    /*main*/
    .main{
        padding-left: 10%;
        padding-right: 10%;
    }
    .main > .main-navigation{
        width: 25%;
        line-height: 40px;
    }
    .menu-item > .sub-menu{
        width: 355%;
        height: 669px;
    }
    .menu-item:hover::after{
        top:24%;
        right: -32px;
        border-right: 22.8px solid transparent;
        border-left: 22.8px solid transparent;
    }
    .sub-menu > .left{
        width: 30%;
    }
    .sub-menu > .middle{
        width: 30%;
    }
    .sub-menu >.right{
        width: 30%;
    }
    .sub-menu > .img-right{
        display: none;
    }
    .main .banners{
        width: 75%;
    }
    .main .banners .banners-left{
        width: 100%;
    }
    .main .banners .banners-left .banners-left-top{
        height: 489px;
    }

    .main .banners .banners-left .banner-left-bottom .banner-left-bottom-left{
        background-color: white;
        justify-content: center;
    }
    .main .banners .banners-left .banner-left-bottom .banner-left-bottom-right{
        background-color: white;
        justify-content: center;
    }
    .main .banners .banners-left .banner-left-bottom .banner-left-bottom-left img{
        /* width: 50%; */
        background-color: white;
    }
    .main .banners .banners-right{
        display: none;
    }
    /*end*/
    /*container*/
    div.containers{
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .newsletter .newsletter-form button{
        width: 20%;
    }
    .containers .containers-img img{
        width: 95%;
    }
    div.containers .primary-banner-container img{
        width: 95%;
    }
    div.containers .home-deal .body .item-wrapper{
        width: 30%;
    }
    /*end*/
    /*footer*/
    .footer .newsletter{
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .information{
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .addresses{
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .copy-right{
        padding-left: 10%;
        padding-right: 10%;
    }
    .footer .information .block{
        width: 25%;
    }
    /*end*/
}
@media only screen and (max-width: 768px){
    /*for mobile*/
    /*header*/
    .header-top .header-right{
        justify-content: flex-end;
    }
    .header-top .header-right .header-item{
        display: none;
        position: relative;
    }
    div.header-top .header-right .sub-menu-header{
        display: block;
        position: relative;
        margin-bottom: auto;
        max-width: 30px;
    }
    div.header-top .header-right .sub-menu-header:hover .dropdown .header-item{
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
    div.header-top .header-right .sub-menu-header .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -174px;
        border-radius: 7px !important;
        /* border: 1px solid white; */
        /* background: white; */
        padding: 7px;
    }
    div.header-top .header-right .sub-menu-header .dropdown .header-item{
        display: inline;
        /* position: absolute; */
        visibility: hidden;
        padding: 14px;
        background-color: white;
        top: -4px;
        width: 185px;
        /* height: 400px; */
        right: -5px;
    }
    div.header-top .header-right .sub-menu-header .dropdown a img{
        width: 15%;
    }
    /* div.header-top .header-right .sub-menu-header .dropdown a:hover{
        color: blue;
    } */
    div.header-top .header-right .sub-menu-header .dropdown a span{
        color: black;
    }
    .assistant{
        display: none;
    }
    .navbar-middle-right .cart .itemcart .itemcartQty{
        display: none;
    }
    /*end*/
    /*main*/
    /* .mySlides img{
        width: 100%;
        margin: auto;
        height: 100%;
    } */
    /*end*/
    /*footer*/
    .footer .newsletter .newsletter-icon{
        width: 10%;
        margin-top: -5px;
    }
    .footer .newsletter .newsletter-description{
        width: 31%;
    }
    .footer .newsletter .newsletter-form{
        width: 50%;
    }
    .footer .information{
        display: none;
    }
    /*end*/
}

@media only screen and (max-width: 485px){
    /*header*/
    header.header .header-top{
        padding-left: 1%;
        padding-right: 1%;
    }
    header.header .navbar{
        padding-left: 1%;
        padding-right: 1%;
    }
    div.header-bottom{
        padding-left: 1%;
        padding-right: 1%;
    }
    .navbar .navbar-middle .navbar-middle-left .logo{
        width: 15%;
    }
    .navbar .navbar-middle .navbar-middle-left .logo .logotiki-right img{
        display: none;
    }
    header .navbar-middle-left .formsearch .formsearch-form .formsearch-button{
        background-color: white;
    }
    header .navbar-middle-left .formsearch .formsearch-form .formsearch-button span{
        display: none;
    }
    header .navbar-middle-right .cart .itemcart{
        border: 0px;
    }
    header .navbar-middle-right .cart .itemcart .itemtext{
        display: none;
    }
    .header-bottom > .container > .menu{
        width: 100%;
    }
    header .header-bottom .container .product{
        display: none;
    }
    header .header-bottom .container .location{
        display: none;
    }
    /*end*/
    /*main*/
    main .main{
        padding-left: 1%;
        padding-right: 1%;
    }
    div.containers{
        padding-left: 1%;
        padding-right: 1%;
    }
    div.containers .home-deal .header .img{
        width: 50%;
    }
    div.containers .home-deal .header .img .img-1{
        width: 20%;
    }
    div.containers .home-deal .header .img .img-2{
        width: 5%;
    }
    div.containers .home-deal .header .img .img-3{
        width: 20%;
    }
    div.containers .home-deal .header .navigation{
        width: 45%;
        text-align: end;
    }
    div.containers .home-deal .body .item-wrapper{
        width: 95%;
    }
    /*end*/
    /*footer*/
    .footer .newsletter{
        padding-left: 1%;
        padding-right: 1%;
    }
    footer.footer .newsletter .newsletter-icon{
        display: none;
    }
    footer.footer .newsletter .newsletter-description{
        width: 40%;
    }
    footer.footer .newsletter .newsletter-form{
        width: 55%;
    }
    footer.footer .newsletter .newsletter-form input{
        width: 55%;
    }
    footer.footer .newsletter .newsletter-form button{
        width: 25%;
        padding: 0px;
    }
    .footer .addresses{
        padding-left: 1%;
        padding-right: 1%;
    }
    footer.footer .information{
        display: none;
    }
    .footer .copy-right{
        padding-left: 1%;
        padding-right: 1%;
    }
    footer.footer .copy-right .block .img-left{
        display: none;
    }
    footer.footer .copy-right .block .img-right img{
        width: 100%;
    }
    /*end*/
}


